<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav class="main-nav">
            <div class="logo">LockIt</div>
            <div class="nav-links">
                <a href="/api/user/register" class="login-link">Register</a>
                <a href="api/menu" class="contact-link">Contact Us</a>
            </div>
        </nav>

        <main>
            <div class="hero-section">
                <div class="hero-image-1"></div>
                <div class="hero-image-2"></div>
                <div class="hero-text">
                    <div>
                        <p style="margin: 0;">SMART</p>
                        <p style="margin: 0;">BICYCLE</p>
                        <p style="margin: 0;">LOCK</p>
                    </div>
                    <div class="hero-subtext">
                        A modern solution to typical problem.
                    </div>
                </div>
            </div>
        </main>

        <h1 class="features-title">Features</h1>
        <section class="features-grid">  
           
            <div class="feature-card">
               <div class="feature-image bg-section1"></div>
               <div class="feature-gradient"></div>
               <div class="feature-blur"></div>
               <div class="feature-content">
                <h1>Wireless Connection</h1>
                <p>Seamlessly connect and control your smart lock via a secure wireless connection from your mobile device or website.</p>
               </div>
            </div>

            <div class="feature-card">
                <div class="feature-image bg-geofencing"></div>
                <div class="feature-gradient"></div>
                <div class="feature-blur"></div>
                <div class="feature-content">
                 <h1>Geofencing</h1>
                 <p>Monitor your lock's location in real-time and receive alerts if it moves outside a designated safe area.</p>
                </div>
             </div>

             <div class="feature-card">
                <div class="feature-image bg-emergency"></div>
                <div class="feature-gradient"></div>
                <div class="feature-blur"></div>
                <div class="feature-content">
                 <h1>Emergency SOS</h1>
                 <p>Instantly send an emergency SOS message to a pre-set contact or helpline with the press of a button.</p>
                </div>
             </div>

             <div class="feature-card">
                <div class="feature-image bg-broadmap"></div>
                <div class="feature-gradient"></div>
                <div class="feature-blur"></div>
                <div class="feature-content">
                 <h1>Real Time Location Sharing</h1>
                 <p>Access the exact, real-time location of your lock anytime through our live tracking feature</p>
                </div>
             </div>
        </section>

        <footer class="main-footer">
            <div class="footer-container">
              <div class="footer-content">
                <div class="footer-logo">
                  <h2>LockIt</h2>
                </div>
                <div class="footer-links">
                  <a href="#">About Us</a>
                  <a href="#">Services</a>
                  <a href="#">Contact</a>
                  <a href="#">Privacy Policy</a>
                </div>
              </div>
              <div class="footer-copyright">
                <p>&copy; 2024 LockIt. All rights reserved.</p>
              </div>
            </div>
          </footer>
    </div>
</body>
</html>